{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Signup </h1>
    <form method="POST" action="signup">
        {%csrf_token%}
        <input type="text" name="username" placeholder="username">
        <input type="text" name="email" placeholder="mailid">
        <input type="password" name="password1" placeholder="password">
        <input type="password" name="password2" placeholder="confirm password">
        <input type="submit">
    </form>
    <h6 style="color: red;">{{message}}</h6>
{% endblock %}